@model IEnumerable<GestorAsignaturas.Models.Asignatura>

@{
    ViewBag.Title = "Listado de Asignaturas";
}

<h2>Listado de Asignaturas</h2>

<p>
    @Html.ActionLink("Crear Nueva Asignatura", "Crear", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Codigo)</th>
            <th>@Html.DisplayNameFor(model => model.Creditos)</th>
            <th>@Html.DisplayNameFor(model => model.CD)</th>
            <th>@Html.DisplayNameFor(model => model.CP)</th>
            <th>@Html.DisplayNameFor(model => model.AA)</th>
            <th>@Html.DisplayNameFor(model => model.Horas)</th>
            <th>@Html.DisplayNameFor(model => model.Area)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                <td>@Html.DisplayFor(modelItem => item.Creditos)</td>
                <td>@Html.DisplayFor(modelItem => item.CD)</td>
                <td>@Html.DisplayFor(modelItem => item.CP)</td>
                <td>@Html.DisplayFor(modelItem => item.AA)</td>
                <td>@Html.DisplayFor(modelItem => item.Horas)</td>
                <td>@Html.DisplayFor(modelItem => item.Area)</td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.ID }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Ver", "Detalles", new { id = item.ID }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Borrar", "Borrar", new { id = item.ID }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
